<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | National Geographic</title>
    <link rel="stylesheet" href="../assets/style/style.css">
</head>

<body class="writeup-page">
    <header class="container">
        <nav class="top-nav">
            <a href="../index.html" class="brand">
                <div class="natgeo-logo"></div>
                <span>National<br>Geographic</span>
            </a>
        </nav>
    </header>

    <article class="container">
        <header class="post-header">
            <p class="post-meta">{{ date }} | BY {{ author }}</p>
            <h1 class="section-title">{{ title }}</h1>
        </header>
        <div class="post-content">
            {{ content }}
        </div>
    </article>

    <footer class="container">
        <p>&copy; 2026 National Geographic Style.</p>
    </footer>
</body>

</html>